@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
  font-family: 'Rubik', sans-serif;
}
a:hover {
  color: inherit;
  color: #000;
}

li {
  list-style: none;
}

.cta_btn {
  display: inline-block;
  padding: 13px 30px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  background: #f7b035;
  border-radius: 40px;
}

/* --- header section --- */

.header_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: transparent;
}

.header_area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  max-width: 1200px; /* Ou o que preferir */
  margin: 0 auto;
}

.header-area.header_black {
  border-bottom: 1px solid #eddfc6;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  width: 160px;
}
.mainmenu {
  margin-left: 50px;
}
.mainmenu ul li {
  display: inline-block;
  padding: 0 13px;
  position: relative;
}

.mainmenu ul li a,
.header_tools li a {
  color: #ffff;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  padding: 13px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mainmenu ul li > ul {
  position: absolute;
  top: 120%;
  left: 0;
  width: 220px;
  background: #fff;
  box-shadow: 0 12px 30px -2px rgb(0 0 0 / 10%);
  border-radius: 5px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.mainmenu ul li:hover > ul {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

.mainmenu ul li > ul li {
  display: block;
  padding: 0;
}

.mainmenu ul li > ul li a {
  display: block;
  padding: 7px 20px;
  color: #000;
  text-transform: capitalize;
  line-height: 24px;
}

.mainmenu ul li > ul li a:after {
  display: none;
}

.mainmenu ul li > ul li a:hover {
  padding-left: 25px;
}

.mainmenu ul li a:after,
.header_tools li a:after {
  content: '';
  background: #f7b035;
  width: 0%;
  right: 0;
  left: auto;
  bottom: 12px;
  position: absolute;
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mainmenu ul li a:hover,
.header_tools li a:hover,
.mainmenu li.active > a {
  color: #f7b035;
}

.mainmenu ul li:hover > a {
  color: #f7b035;
}
.mainmenu ul li a:hover:after,
.header_tools a:hover:after,
.mainmenu li.active > a:after,
.mainmenu ul li:hover > a:after {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  right: auto;
  left: 0;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_tools li {
  display: inline-block;
  padding-left: 25px;
}
.header_tools {
  padding-left: 0px;
}
.header_tools img {
  width: 20px;
}
.cart_count {
  position: relative; /* ADICIONE ISSO */
  display: inline-block;
}

.cart_count span {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #f7b035;
  color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  font-weight: 700;
  right: -8px;
  top: 2px;
}

/*----hero section------*/
.hero_area {
  background: #121619;
  height: 79vh;
  padding: 200px 0 100px;
  position: relative;
  z-index: 1;
}

.hero_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.hero_title {
  font-family: 'Playfair Display', serif;
  line-height: 100px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  word-break: break-word;
}

.hero_area .shape_1 {
  position: absolute;
  left: 1608px;
  top: -89px;
}
.hero_area .shape_2 {
  position: absolute;
  left: 1122px;
  top: -100px;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.hero_area .shape_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1070px;
  top: 310px;
}
.hero_area .shape_4 {
  position: absolute;
  left: 1561px;
  top: 523px;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.pizza {
  position: absolute;
  left: 1124px;
  top: -74px;
  z-index: -1;
}

@keyframes animat0ne {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.hero_area .shape_5 {
  position: absolute;
  top: 148px;
  left: -1px;
  -webkit-animation: animat0ne 15s infinite ease-in-out;
  animation: animat0ne 15s infinite ease-in-out;
  z-index: -1;
}

.hero_area .cta_btn {
  margin-top: 20px;
}
.hero_area .cta_btn:hover {
  color: #fff;
}

.scroll_pizza_1 {
  position: absolute;
  top: -14px;
  left: 1089px;
  z-index: -1;
}

.scroll_pizza_2 {
  position: absolute;
  top: 201.32px;
  left: 1159.41px;
  z-index: -1;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
.hero_text {
  position: relative; /* mantém no fluxo normal */
  z-index: 1;
  max-width: 700px;
  padding-left: 70px; /* desloca um pouco para a direita sem afetar a imagem */
}

/*animation section*/
@-webkit-keyframes animat0ne {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animat0ne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
